@charset "utf-8";
/* CSS Document */

.arrow{position:absolute; width:668px; height:119px; margin-left:-18px; margin-top:8px; }
.left_col ul.listing li{margin:0px; padding:0px; background:url(../images/bullet.jpg)no-repeat left top; margin-bottom:28px;}